<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845520094081-pf6qkgkcdr2nhv7vefjrhur6q97vfd94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845520094081-pf6qkgkcdr2nhv7vefjrhur6q97vfd94</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>845520094081-0o9c015tkdqoq80hdm02jpo7nahm2u4m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQC4DswVqesjbVlqfiSV2fOQKc3LpZbtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>845520094081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.handledelivery.handle</string>
	<key>PROJECT_ID</key>
	<string>handledelivery-af957</string>
	<key>STORAGE_BUCKET</key>
	<string>handledelivery-af957.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845520094081:ios:e38d1bbb0d3bbe85011e80</string>
</dict>
</plist>